aiohttp==3.8.3
aiosignal==1.2.0
amqp==2.6.1
appdirs==1.4.4
asgiref==3.3.4
async-timeout==4.0.2
attrs==22.1.0
awsebcli==3.20.3
beautifulsoup4==4.11.1
billiard==3.6.4.0
botocore==1.23.54
bottle==0.12.19
bottle-websocket==0.2.9
bs4==0.0.1
cachetools==5.2.0
celery==4.4.2
cement==2.8.2
certifi==2020.12.5
cffi==1.14.5
chardet==4.0.0
charset-normalizer==2.1.1
click==8.1.3
click-didyoumean==0.3.0
click-plugins==1.1.1
click-repl==0.2.0
colorama==0.4.3
cryptography==3.4.7
defusedxml==0.7.1
distlib==0.3.1
Django==3.2
django-cors-headers==3.9.0
django-crispy-forms==1.11.2
django-filter==2.4.0
django-tinymce==3.3.0
djangorestframework==3.12.4
Eel==0.14.0
filelock==3.0.12
frozenlist==1.3.1
future==0.16.0
gevent==21.1.2
gevent-websocket==0.10.1
greenlet==1.0.0
gunicorn==20.1.0
idna==2.10
ipinfo==4.3.1
jmespath==0.10.0
kombu==4.6.11
Markdown==3.3.4
multidict==6.0.2
numpy==1.23.3
oauthlib==3.1.0
pathspec==0.9.0
paystack==1.5.0
Pillow==8.2.0
prompt-toolkit==3.0.31
psycopg2==2.8.6
psycopg2-binary==2.8.6
pycparser==2.20
PyJWT==2.1.0
pyparsing==2.4.7
pypiwin32==223
python-dateutil==2.8.2
python3-openid==3.2.0
pytz==2022.4
pywin32==304
PyYAML==5.4.1
requests==2.25.1
requests-oauthlib==1.3.0
schedule==1.1.0
semantic-version==2.8.5
simplejson==3.18.1
six==1.14.0
social-auth-app-django==4.0.0
social-auth-core==4.1.0
soupsieve==2.3.2.post1
SpeechRecognition==3.8.1
sqlparse==0.4.3
termcolor==1.1.0
urllib3==1.26.11
vine==1.3.0
virtualenv==20.4.4
wcwidth==0.1.9
webencodings==0.5.1
whichcraft==0.6.1
yarl==1.8.1
zope.event==4.5.0
zope.interface==5.4.0
